<meta charset="cp1251"/>
<h1 style="color: brown">Enter your <i style="color: blue">login</i> and <i style="color: green">pass</i></h1>

<p><h2><%= @mess %></h2></p>

<form action="/" method="POST">
  	<input type="text" name="xxx"/> 	<!--#line for login-->
	<input type="password" name="sss"/>     <!--#line for pass-->
	<input type="submit"/>                  <!--#send button-->
</form>