
<head>
	<title>Welcome</title>
	<meta charset="cp1251"/>
</head>
<h1>Enter your <i>login</i> and <i>pass</i></h1>

<p><h2><%= @mess %><h2></p>

<form action="/" method="POST">
  	<input type="text" name="xxx"/> 	<!--#line for login-->
	<input type="password" name="sss"/>     <!--#line for pass-->
	<input type="submit"/>                  <!--#send button-->
</form>