<h3>'Thank you'<br />
Dear <i style="color:red"><%= @name %>></i> well be waiting for you at #{@date} <sup>2023</sup><br />
We are you calling by phone <em style="color:blue"><%= @number %>></em> <sub>your number</sub> <mark>This is mark</mark>
</h3>
<p>
<form action="http://127.0.0.1:4567/">
  <input style="color: brown" type="submit" value="come beck" >
</form>
</p>