
<html>
<head>
	<title>Testing</title>
	<link href="/css/styles2.css" rel="stylesheet" media="all" />
</head>

<body>
	<h2>Lorem ipsum 111</h2>	

	<h2 class="something">lorem ipsum 222</h2>

	<h2 id="slogan">lorem ipsum 333</h2>
	
</body>


</html>