<h4 style="color: greenyellow">Admin mode</h4>
<form action="/admin" method="post">
  log in <br />
  <input type="text" name="Admin_name"><br />
  Pass <br />
  <input type="password" name="Admin_pass"><br />
  <input type="submit" value="log in">
</form>