<h2>
  <i style="color: red">WELCOME</i> to shop
</h2>
<p></p>
<h3>
  <b>We are open</b>
</h3>
<form action="/" method="POST" style="color: blue">
  Enter your name                     <br />
  <input type="text" name="User_name"><br />
  Enter for number                <br />
  <input type="text" name="Phone"><br />
  Enter date                          <br />
  <input type="text" name="Date_time"><br />

  <br /><input type="submit">
</form>

<iframe src="https://google.com/" height="500px" width="500px"></iframe>
