
<html>

<head>                                                                 
	<link href="/css/styles1.css" rel="stylesheet" media="all" />
</head>

<form action="http://127.0.0.1:4567/admin">
  <input style="color: brown" type="submit" value="admin" />
</form>

<body>
<h2>
  <i style="color: red">WELCOME</i> to shop
</h2>
<p></p>
<h3>
  <b>We are open</b>
</h3>
<form action="/" method="POST" style="color: blue">
  Enter your name                     <br />
  <input type="text" name="User_name" /><br />
  Enter for number                <br />
  <input type="text" name="Phone" /><br />
  Enter date                          <br />
  <input type="text" name="Date_time" /><br />

  <br /><input type="submit" />
</form>

<form action="http://127.0.0.1:4567/test_style">
	<input type="submit" value="Go to test" />
</form>



<!--<iframe src="https://ya.ru/" height="300px" width="300px"></iframe>-->
</body>
</html>         
